<app-mobile-header [leftIcon]="true"></app-mobile-header>

<div id="set-loginPass">
    <div class="publicpage">
        <div class="gameLimit publicpage_view">
            <div class="personal-lists">
                <div class="grid-content bg-purple-dark">
                    <label class="white-colors">原密码</label>
                    <input class="info" [(ngModel)]="userInfo.password" type="password" maxlength="12" placeholder="请输入原密码">
                </div>
            </div>
            <div class="personal-lists">
                <div class="grid-content bg-purple-dark">
                    <label class="white-colors">新密码</label>
                    <input class="info" [(ngModel)]="userInfo.npassword" type="password" maxlength="12" placeholder="密码必须为6~12位英文或数字">
                </div>
            </div>
            <div class="personal-lists">
                <div class="grid-content bg-purple-dark">
                    <label class="white-colors">确认密码</label>
                    <input class="info" [(ngModel)]="userInfo.renpassword" type="password" maxlength="12" placeholder="请再次填写新密码">
                </div>
            </div>
            <div class="personal-lists infors-rule">
                <p>
                    密码须为<span class="orangeColor">6~12为英文或数字</span>且符合a~z字元或0~9字元
                </p>
            </div>

            <div class="submit-btns btn-image-big">
                <button type="button" class="primary-btn btn-image-big" (click)="next()">立即设置</button>
            </div>

        </div>
        <!-- 短信提示 -->
        <div class="indicated-zz" *ngIf="indicatedKey.indicated">
            <div class="indicated">
                <div class="indicated-top">
                  <h3>提示</h3>
                </div>
                <div class="indicated-bottom">
                  <div class="indicated-box2">
                    <span>
                      初始登录密码已通过短信发送给您,请您及时更改</span>
                    <button (click)="indicatedKey.indicated=!indicatedKey.indicated" class="btn-uncertain " nz-button>确定
                    </button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
