<!-- 大刮刮乐 -->
<div class="content-bg" [style.display]="service.scratchBig?'flex':'none'">
    <div class="content">
        <!-- 关闭按钮 -->
        <div class="close" (click)="scratch.closeScratch()"></div>
        <!-- 内容 -->
        <div class="scratch">
            <h3 class="no-select">{{ scratch.scratchText[scratch.step] }}</h3>
            <div class="canvas-box">
                <!-- 奖金 -->
                <div class="scratch-text" *ngIf="scratch.step == 0 || scratch.step == 1">
                    <p>恭喜您</p>
                    <p>获得彩金</p>
                    <p><span>{{ service.scratchData.userMoney }}</span>元</p>
                </div>
                <canvas id="canvas" width="362" height="150">您的浏览器不支持canvas！</canvas>
                <!-- 绑定手机号 -->
                <div class="bind-num" *ngIf="scratch.step == 2">
                    <div class="phone" nz-row>
                        <div nz-col nzSpan="13">
                            <input type="text"
                                   appLimitInput [limitType]="'number'"
                                   [(ngModel)]="service.scratchData.userPhone" nz-input maxlength="11" />
                        </div>
                        <div nz-col nzOffset="1" nzSpan="10" (click)="service.scratchData.userPhone = '';">
                            <button class="change" nz-button>更换手机号</button>
                        </div>
                    </div>
                    <div>
                        <div nz-col nzSpan="9">
                            <input type="text"
                                   appLimitInput [limitType]="'number'"
                                   [(ngModel)]="scratch.msgCode" nz-input maxlength="4" />
                        </div>

                        <div nz-col nzSpan="14" nzOffset="1">
                            <button class="change" *ngIf="!scratch.leaveShow"
                                    (click)="scratch.senMsgCode()" nz-button [nzLoading]="scratch.msgLoading">
                                获取短信验证码
                            </button>

                            <div class="change disabled" *ngIf="scratch.leaveShow">
                                倒计时{{ scratch.leaveTime }}秒</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 按钮 -->
        <div class="btn-box">
            <span class="btn" *ngIf="scratch.step==1" (click)="scratch.getLottery()">领取彩金</span>
            <span class="btn" *ngIf="scratch.step==2" (click)="scratch.sure()">确定</span>
        </div>
    </div>
</div>

<!-- 小刮刮乐 -->
<div class="scratch-small" *ngIf="service.scratchSmall">
    <img [src]="config.baseImgUrl + '/scratch/ggl_close.png'" alt="" (click)="service.scratchBig = true;">
    <div class="close" (click)="service.scratchSmall = false;"></div>
</div>
