<nz-spin [nzSpinning]="isLoading" nzTip="加载中">
    <nz-row>
        <nz-row class="banner-pic">
            <img [src]="appBanner" alt="" *ngIf="appBanner">
        </nz-row>
        <!-- 公告 -->
        <div class="index-notice clear">
            <div class="notice-volume fl">
                <i nz-icon nzType="sound" nzTheme="outline"></i>
            </div>
            <div class="notice-news fl">
                <nz-carousel [nzVertical]="true" [nzAutoPlay]="true" [nzDots]="false">
                    <ul class="news-container">
                        <li nz-carousel-content *ngFor="let value of commissionList ;index as i"
                            (click)="noticeAlert(i)">
                            {{value.username}}提取佣金{{value.amount}}
                        </li>
                    </ul>
                </nz-carousel>
            </div>
        </div>
        <nz-row class="before-join" nzGutter="10">
            <nz-col nzSpan="8">
                <div class="content">
                    <div class="text">
                        {{agentData.yesterdayAgent }}

                        <span class="upDown"></span>
                    </div>
                    <h1 class="text h1">
                        昨日新增代理
                    </h1>
                </div>
            </nz-col>
            <nz-col nzSpan="8">
                <div class="content">
                    <div class="text">
                        {{agentData.totalOfCommission }}
                        <span class="upDown"></span>
                    </div>
                    <h1 class="text h1">
                        累计提佣笔数
                    </h1>
                </div>
            </nz-col>
            <nz-col nzSpan="8">
                <div class="content">
                    <div class="text">
                        {{agentData.totalAgent}}
                        <span class="upDown"></span>
                    </div>
                    <h1 class="text h1">
                        总服务代理
                    </h1>
                </div>
            </nz-col>
        </nz-row>
    </nz-row>
</nz-spin>
