<div class="center-right fl">
            <div class="page-header">
               登录密码
            </div>

                <div class="setting">
                    <nz-steps [nzCurrent]="current" nzSize="small">
                        <nz-step nzTitle="重置密码"></nz-step>
                        <nz-step nzTitle="设定成功"></nz-step>
                    </nz-steps>
                </div>
            <div *ngIf="current === 0">
                <div class="set-input">
                    <span>旧密码：</span>
                  <input nz-input placeholder="6-12个字母或数字组合" nzSize="large"
                         appLimitInput [limitType]="'number|letter'"
                         [(ngModel)]="params.password" type="password" maxlength="12"/>
                </div>
                <div class="set-input">
                   <span>新密码：</span>
                  <input nz-input placeholder="6-12个字母或数字组合" nzSize="large"
                         appLimitInput [limitType]="'number|letter'"
                         [(ngModel)]="params.npassword" type="password" maxlength="12"/>
                </div>
                <div class="set-input">
                   <span>确认密码：</span>
                  <input nz-input placeholder="请再次输入密码" nzSize="large"
                         appLimitInput [limitType]="'number|letter'"
                         [(ngModel)]="params.renpassword" type="password" maxlength="12"/>
                </div>
                <button nz-button nzType="primary" class="submit" nzSize="large"  (click)="changePwd()" >下一步</button>
            </div>
            <div class="set-success" *ngIf="current === 1">
                <p class="big-title">恭喜您已经成功修改登录密码!</p>
                <p>贴心提醒</p>
                <p>当您完成设定后,若有疑问,可联系<a [href]="platform.onlineService.href" [target]="platform.onlineService.target">线上客服</a>获得帮助</p>
            </div>

        </div>
