<div class="downContent">
    <div class="download">
        <div class="down_1" style="position: relative;">
            <div class="android_stup_btn"></div>
            <div class="ios_stup_btn"></div>
                <div class="android_content_img">
                    <img alt="" [src]="config.baseImgUrl+'/images/download/android_down_content.png'" >
                </div>
                <div class="ios_content_img">
                    <img alt="" [src]="config.baseImgUrl+'/images/download/ios_down_content.png'">
                </div>
                <div class="downloadImg">
                    <span class="IOSImg"></span>
                    <span class="IOS_BY_Img"></span>
                    <span class="androidImg"></span>
                  </div>
        </div>
    </div>
</div>  