<div id="set-withPass">
    <div class="publicpage">
        <p class="tooltip" [hidden]="isGoBack">申请提款需先设置提款密码，请先设置</p>
        <div class="gameLimit publicpage_view">
            <nz-spin [nzSpinning]="isLoading" nzTip="加载中">
                <div class="personal-lists">
                    <div class="grid-content bg-purple-dark" *ngIf="user.user?.hasWithdrawPassword">
                        <label class="white-colors">原密码</label>
                        <input class="info" [(ngModel)]="params.password" type="password" maxlength="4" appLimitInput [limitType]="'number'"
                               placeholder="请输入原密码">
                    </div>
                </div>
                <div class="personal-lists">
                    <div class="grid-content bg-purple-dark">
                        <label class="white-colors">新密码</label>
                        <input class="info" [(ngModel)]="params.npassword" type="password" maxlength="4" appLimitInput [limitType]="'number'"
                               placeholder="密码必须为4位数字的组合">
                    </div>
                </div>
                <div class="personal-lists">
                    <div class="grid-content bg-purple-dark">
                        <label class="white-colors">确认密码</label>
                        <input class="info" [(ngModel)]="params.renpassword" type="password" maxlength="4" appLimitInput [limitType]="'number'"
                               placeholder="请再次填写新密码">
                    </div>
                </div>
                <p class="tooltip">
                    提款密码须为<span class="orangeColor">4位数字</span>且符合0~9字元
                </p>

                <div class="submit-btns">
                    <button type="button" class="primary-btn btn-image-big" (click)=" user.user?.hasWithdrawPassword ? changePwd() : setPwd() ">立即设置</button>
                </div>
            </nz-spin>
        </div>
    </div>
</div>
