<!-- banner -->
<div class="banner" [style.background-image]="'url('+ bannerImage + ')'"></div>
<!-- content -->
<div class="content-bg">
   <!-- <div class="content">
        <div class="title">电竞平台</div>
        <ul class="clearfix">
            <li *ngFor="let list of service.currentGameList | async">
                <div class="img">
                    <img [src]="list.imgs[0]?.img" alt="">
                </div>
                <div class="btn-box" *ngIf="list.gameCode !== 'WAITFOR'">
                    <button nz-button nzSize="large" nzType="primary"
                        (click)="service.loadGame({ gameCode: list.gameCode, gameId: list.gameId})">进入游戏</button>
                </div>
            </li>
            &lt;!&ndash; 数据为空 &ndash;&gt;
          <nz-empty *ngIf="service.currentGameListLength === 0"></nz-empty>
        </ul>
    </div>-->
    <div class="content">
        <ul class="clearfix content-left" >
            <li class="gaming-content" *ngFor="let list of service.currentGameList | async">
                <div class="img">
                    <img [src]="list.imgs[0]?.img">
                </div>
                <p>{{list.menuNameCn}}</p>
                <div class="play" *ngIf="list.gameCode !== 'WAITFOR'"
                     (click)="service.loadGame({ gameCode: list.gameCode, gameId: list.gameId})">
                    开始游戏
                </div>
                <div class="game_zz" *ngIf="list.gameCode !== 'WAITFOR'"></div>
            </li>
            <!-- 数据为空 -->
            <nz-empty *ngIf="service.currentGameListLength === 0"></nz-empty>
        </ul>
        <div class="content-right">
            <app-game-hot></app-game-hot>
        </div>
    </div>
</div>
