<div class="banner-img"></div>

<div class="content">
  <div class="title"><span class="circle"></span>公司介绍</div>
  <div class="txt-left">
    <p>
      业精于专，功成于勤！天下网络集团，专业系统提供商、支付快充系统及API游戏供应商。我司秉承诚信、专业、勤奋、责任的企业文化，
      坚持技术创新、稳健务实，300+技术开发工程师致力于产品的创新与提升，协助客户从品牌价值出发，
      立足网络，将产品定位于国际市场，同时接入全球众多知名品牌博娱产品，为客户提供高效、稳定的系统和游戏产品。
    </p>
    <div class="title"><span class="circle"></span>服务项目</div>
    <p class="p-item">1. 包网服务项目<br/>
      我们提供的一站式平台开发服务，综合盘、棋牌盘、电竞盘、彩票盘多种类盘口。上千精美的模板供您选择，提供VIP订制主页页面服务，自定义选择游戏种类，游戏前端全面支持PC、H5、APP。</p>
    <p class="p-item">2. API对接项目<br/>
      我们拥有自主研发大唐棋牌API，以及行业最火热各类游戏产品。</p>
    <p class="p-item">3. 纯原生APP项目<br/>
      专业技术团队自主研发纯原生综合app、棋牌app ，电竞app，横竖版本畅享便捷游戏。</p>
    <p class="p-item">4. 支付对接项目<br/>
      全免费快速接入安全、稳定的支付系统，海量成功率高、稳定支付供您使用。</p>
    <div class="title"><span class="circle"></span>联系我们</div>
    <p>
      天下网络的客服中心全年无休，提供1周7天、每天24小时的优质服务。
      如果您对本网站的使用有任何疑问，可以透过下列任一方式与客服人员联系，享受最实时的服务 点击"
      <a [href]="platform.onlineService.href" [target]="platform.onlineService.target" class="red">在线客服</a>"链接，即可进入在线客服系统与客服人员联系。<br>
      您亦可使用Email与客服人员取得联系: <br>
      天下网络邮箱：<span  class="red"> {{platform.emailValue}} </span> <br>
      天下网络客服QQ： <span  class="red"> {{platform.qqService.value}} </span><br>
      我们也能收到您宝贵的意见(务必填写真实的Email.QQ.联络电话，以便我们能及时与您取得联系！
    </p>
  </div>
  <div class="img-div">
    <div class="img"></div>
  </div>
  <div class="card-warp">
    <div class="card-info">
      <div class="center">
        <div class="icon1 card-icon icon_1"></div>
        <div class="txt1">企业使命</div>
      </div>
      <p>
        我们致力成为亚洲娱乐博彩行业的翘楚，力求为顾客提供超凡的娱乐博彩体验，使员工作为公司的一份子深感自豪，亦能令与天下网络业务有关人士称心满意。
      </p>
    </div>
    <div class="card-info">
      <div class="center mb30">
        <div class="icon2 card-icon icon_2"></div>
        <div class="txt1">企业愿景</div>
      </div>
      <p>
        本着亚洲信念亚洲心，为顾客提供超凡的娱乐博彩体验，并为行业树立典范。
      </p>
    </div>
    <div class="card-info">
      <div class="center mb30">
        <div class="icon3 card-icon icon_3"></div>
        <div class="txt1">企业价值观</div>
      </div>
      <p>
        我们积极了解顾客的需求，致力提供超凡的天下网络体验，对此深感自豪。我们真诚尊重每一位与天下网络有关的人士。我们承诺全心全意地做到最好。我们贯彻审慎、高效、坚守诚信和即时应变的处事态度。
      </p>
    </div>
  </div>
</div>
