<div class="center-right fl">
    <div class="page-header">
        提款密码
    </div>

    <div class="setting">
        <nz-steps [nzCurrent]="current" nzSize="small">
            <nz-step nzTitle="设置密码"></nz-step>
            <nz-step nzTitle="设定成功"></nz-step>
        </nz-steps>
    </div>
    <div *ngIf="current === 0">
    <div class="set-input" *ngIf="user.user?.hasWithdrawPassword">
      <span>旧密码：</span>
      <input nz-input placeholder="4位数字组合" nzSize="large"
             appLimitInput [limitType]="'number'"
             [(ngModel)]="params.password" type="password" maxlength="4"/>
    </div>
    <div class="set-input">
      <span>新密码：</span>
      <input nz-input placeholder="4位数字组合" nzSize="large"
             appLimitInput [limitType]="'number'"
             [(ngModel)]="params.npassword" type="password" maxlength="4"/>
    </div>
    <div class="set-input">
      <span>确认密码：</span>
      <input nz-input placeholder="请再次输入密码" nzSize="large"
             appLimitInput [limitType]="'number'"
             [(ngModel)]="params.renpassword" type="password" maxlength="4"/>
    </div>
    <button nz-button nzType="primary" class="submit" nzSize="large"
            [nzLoading]="isLoading"
            (click)="changePwd()" >下一步</button>
  </div>

    <div class="set-success" *ngIf="current === 1">
        <p class="big-title">
          {{user.user?.hasWithdrawPassword ? "提款密码修改成功!" : "提款密码设定成功!"}}
        </p>
        <p>贴心提醒</p>
        <p>当您完成设定后,若有疑问,可联系<a [href]="platform.onlineService.href" [target]="platform.onlineService.target">线上客服</a>获得帮助</p>
    </div>

</div>
