<nz-spin [nzSpinning]="isSpinning" nzTip="加载中">
  <div class="deposit">
      <div class="deposit-title">存款专区</div>
      <div class="nav-tabs">
          <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="changeChannel()">
              <nz-tab *ngFor="let items of payChannel" (nzClick)="resetCurrentStep()" [nzTitle]="titleTemplate">
                  <ng-template #titleTemplate>
                      <i [style.background-image]="'url('+ items.icon + ')'" class="bank-ico"></i>
                      {{items.scanname}}
                  </ng-template>

                  <!--线上 =>  网银支付 或 扫码支付-->
                  <app-capital-online-pay
                    *ngIf="type === 1 || type === 2"
                    [currentBg]="payChannel[selectedIndex].icon">
                  </app-capital-online-pay>

                  <!--线下 => 扫码支付-->
                  <app-capital-scan-offline
                    *ngIf="type === 3"
                    [currentBg]="payChannel[selectedIndex].icon">
                  </app-capital-scan-offline>

                  <!--线下 => 银行汇款-->
                  <app-capital-bank-offline
                    *ngIf="type === 4"
                    [currentBg]="payChannel[selectedIndex].icon">
                  </app-capital-bank-offline>

              </nz-tab>
          </nz-tabset>
      </div>
  </div>
</nz-spin>
