<div class="index-wrapper">
  <div *ngIf="user.userInfo?.hasJoin === 2">
    <img [src]="capital.proxyImage?.introduceBanner" alt="">

    <div class="notice">
      <div class="left-ico">
        <img class="icon" [src]="config.baseMobileImgUrl + 'image/wxdl/gg.png'" alt="">
      </div>
      <div class="notice-wrapper">
        <div style="width: 100000px">
          <ul *ngIf="carouselList.length" class="notice-list" [ngStyle]="{animationDuration: carouselList.length * 2 + 's'}">
            <li class="notice-item" *ngFor="let item of carouselList">{{item.username}} 提取佣金 {{item.amount}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="title-detail">
      <div nz-row nzType="flex" nzJustify="space-between">
        <div nz-col nzSpan="8">
          <div class="item">
            <p class="count">
              {{capital.proxyImage?.yesterdayAgencyAddNum}}
              <img class="icon" [src]="config.baseMobileImgUrl + 'image/wxdl/up.png'" alt="">
            </p>
            <p class="name">昨日新增代理</p>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="item">
            <p class="count">
              {{capital.proxyImage?.totalWithdrawCount}}
              <img class="icon" [src]="config.baseMobileImgUrl + 'image/wxdl/up.png'" alt="">
            </p>
            <p class="name">累计提佣笔数</p>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="item">
            <p class="count">
              {{capital.proxyImage?.totalAgency}}
              <img class="icon" [src]="config.baseMobileImgUrl + 'image/wxdl/up.png'" alt="">
            </p>
            <p class="name">总服务代理</p>
          </div>
        </div>
      </div>
    </div>

    <div class="pl3">
      <h1 class="middle-line">合作计划</h1>
      <h2>自主开通 邀请便捷 佣金无限级 抽成更加丰厚</h2>
    </div>
    <img src="//mobile.worLdweaLth.com.cn/mobileTXW/image/wxdl/agentText_01.png" alt="">
    <button class="join-btn" (click)="joinAgent()" nz-button>立即开通</button>
    <div class="pl3">
      <h1 class="middle-line">代理晋升</h1>
      <h2>满足业绩条件 晋升代理等级 更高提佣比例</h2>
      <img style="width: 90%" [src]="capital.proxyImage?.introducePromote" alt="">
    </div>
    <h2 class="p3">注：以上代理等级名称和综合提佣比例仅做示例，可能与当前执行规则不符，具体等级细节请咨询客服</h2>
  </div>

  <img *ngIf="user.userInfo?.hasJoin === 1" [src]="config.baseMobileImgUrl + 'image/wxdl/banner_ty.jpg'" alt="">

  <h1 class="pl3 middle-line">计算方式</h1>
  <div class="formula-mode">
    <div class="main">
      <h1 class="detail-title">公式说明</h1>
      <p class="detail-text">
        1. 佣金结算为每日凌晨结算昨日佣金，不计会员输赢，系统将会自动根据您的旗下会员昨日游玩数据计算出您应获得的佣金金额，同时累计进您的佣金账户，满足提取条件后即可进行提取。
      </p>
      <p class="detail-text">2.公式</p>
      <p class="detail-text red-text indent0">
        您的佣金=直属业绩*总业绩返佣比例+团队业绩*（总业绩返佣比例-团队业绩返佣比例）
      </p>
      <p class="detail-text indent0" style="margin-top: .2rem">
        例：代理关系和业绩<span class="red-text">如图1</span>，返佣比例为<span class="red-text">图2</span>
        ，则 A,B各自的佣金为：<br>
        B：总业绩4.4W，对应比例为30/万4.4*30=132元.<br>
        A：总业绩7.1W，对应比例为50/万2.7*50+4.4*（50-30）=361.
      </p>
      <img style="width: 40%; margin: 0 5%" [src]="config.baseMobileImgUrl + 'image/wxdl/wxdl_img_rul1.png'" alt="">
      <img style="width: 40%; margin: 0 5%" [src]="config.baseMobileImgUrl + 'image/wxdl/wxdl_img_rul2.png'" alt="">
    </div>
    <div class="other">
      <h1 class="pl3 middle-line">其他说明</h1>
      <p class="detail-text">1. 提取方式：可绑定银行卡，在满足提取条件后，直接从官网或APP个人中心未结佣金位置发起提取申请，也可以联系客服，通过线下转账方式申请提取；</p>
      <p class="detail-text">2.提取周期：<span class="red-text">{{capital.proxyImage?.commissionConfig.minCycle}}天</span>，即从上次提取完成开始，至少需要超过{{capital.proxyImage?.commissionConfig.minCycle}}天，才可以发起提取；</p>
      <p class="detail-text">3.最小提佣金额：<span class="red-text">{{capital.proxyImage?.commissionConfig.minAmount}}元</span>，即本次未结佣金提取金额需大于<span class="red-text">{{capital.proxyImage?.commissionConfig.minAmount}}元</span>，才能发起提取，若小于该金额，请等待佣金累积至该金额后再次申请提取；</p>
      <p class="detail-text">4.如有任何疑问，请咨询客服；</p>
      <p class="detail-text">5.本活动最终解释权归<span class="red-text">太阳城</span>所有；</p>
    </div>
  </div>
</div>

