<div class="index-wrapper">
  <img src="https://line.txwl-888.com/group1/M00/00/07/Z_QBx13ZLAmAYpGkAAhMs9Qxdcg708.jpg" alt="">

  <div class="notice">
    <i class="left-ico" nz-icon nzType="sound" nzTheme="outline"></i>
    <div class="notice-wrapper">
      <div style="width: 100000px">
        <ul *ngIf="carouselList.length" class="notice-list" [ngStyle]="{animationDuration: carouselList.length * 2 + 's'}">
          <li class="notice-item" *ngFor="let item of carouselList">{{item.username}} 提取佣金 {{item.amount}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="title-detail">
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="item">
          <p class="count">5<i nz-icon nzType="arrow-up" nzTheme="outline"></i></p>
          <p class="name">昨日新增代理</p>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="item">
          <p class="count">4545<i nz-icon nzType="arrow-up" nzTheme="outline"></i></p>
          <p class="name">累计提佣笔数</p>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="item">
          <p>9494<i nz-icon nzType="arrow-up" nzTheme="outline"></i></p>
          <p class="name">总服务代理</p>
        </div>
      </div>
    </div>
  </div>

  <div class="pl3">
    <h1>合作计划</h1>
    <h2>自主开通 邀请便捷 佣金计算二级 更加丰厚</h2>
  </div>
  <img src="//mobile.worLdweaLth.com.cn/mobileTXW/image/wxdl/agentText_01.png" alt="">
  <button class="join-btn" nz-button>立即加入</button>
  <div class="pl3">
    <h1>代理晋升</h1>
    <h2>满足业绩条件 晋升代理等级 更高提佣比例</h2>
  </div>
  <img src="https://line.txwl-888.com/group1/M00/00/07/Z_QBx13ZLAmAYpGkAAhMs9Qxdcg708.jpg" alt="">
  <h2 class="p3">注：以上代理等级名称和综合提佣比例仅做示例，可能与当前执行规则不符，具体等级细节请咨询客服</h2>
  <h1 class="pl3">计算方式</h1>
  <div class="formula-mode">
    <div class="main">
      <div class="title">
        <img data-v-39039af6="" src="//mobile.worLdweaLth.com.cn/mobileTXW/image/wxdl/agentText_03.png" alt="">
      </div>
      <h1 class="pl3">公式说明</h1>
      <p class="detail-text">
        1.佣金结算为每日凌晨结算昨日佣金，系统将会自动根据您旗下会员昨日游玩数据计算出每个会员的理论产出佣金，扣除相关承担费用，行政费用（若有）后，再乘以对应平台分成比例，即为您实际获得的佣金，会累计进您的佣金账户，满足提取条件后即可进行提取。
      </p>
      <p class="detail-text">2.公式</p>
      <div class="mode-img">
        <img data-v-39039af6="" src="//mobile.worLdweaLth.com.cn/mobileTXW/image/wxdl/agentText_04.png" alt="">
      </div>
      <p class="detail-text">
        例：您的直属会员A，昨日游玩大唐棋牌，有效投注额10000，输赢为-3000(取绝对值)，假设平台设置大唐棋牌的退水比例为1%，退佣比例为5%，直属分成比例为80%，团队分成比例为20%，则会员A昨日实际为您提供佣金；<br>
        [退水(有效投注10000*退水比例1%)  +退佣 (输赢3000*退佣比例5%)]*直属分成比例80%=200元；
      </p>
      <p class="detail-text red-text">
        注:<br>
        1.若该会员昨日有充值并赠送优惠和彩金，以及游戏返水，则还需要扣除对应赠送金额中您需要承担的比例，具体承担比例请咨询客服；<br>
        2.若会员赢钱，则退佣比例将按平台设置的该游戏最低退水比例计算退佣，具体比例请咨询客服；
      </p>
    </div>
    <div class="other">
      <h1 class="pl3">其他说明</h1>
      <p class="detail-text">1.提取方式：可绑定银行卡，在满足提取条件后，直接从官网或APP个人中心未结佣金位置发起提取申请，也可以联系客服，通过线下转账方式申请提取；</p>
      <p class="detail-text">2.提取周期：<span class="red-text">2天</span>，即从上次提取完成开始，至少需要超过2天，才可以发起提取；</p>
      <p class="detail-text">3.最小提佣金额：<span class="red-text">100元</span>，即本次未结佣金提取金额需大于<span class="red-text">100元</span>，才能发起提取，若小于该金额，请等待佣金累积至该金额后再次申请提取；</p>
      <p class="detail-text">4.如有任何疑问，请咨询客服；</p>
      <p class="detail-text">5.本活动最终解释权归太阳城所有；</p>
    </div>
  </div>
</div>

